<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta
    charset="utf-8"/>
    <!--Import Google Icon Font-->
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% block title %}{% endblock %}Tuduu</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <style>
      .icon {
        height: 0.8em;
        width: 0.8em;
        cursor: pointer;
        margin-bottom: -5px;
      }
      .line-through {
        text-decoration: line-through;
      }
      @media screen and(max-width: 450px) {
        .container {
          width: 100%;
        }
      }
    </style>
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    {% for message in app.flashes('ALERT') %}
      <div class="container">
        <div class="card-panel deep-orange lighten-2">
          {{ message }}
        </div>
      </div>
    {% endfor %}
    {% for message in app.flashes('SUCCESS') %}
      <div class="container">
        <div class="card-panel green lighten-2">
          {{ message }}
        </div>
      </div>
    {% endfor %}
    {% block body %}{% endblock %}
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
