{% if tuduus|length > 0 %}
  <ul id="ul_tuduus" class="collection">
    {% for tuduu in tuduus %}
      <li id="li_{{ tuduu.id }}" class="collection-item">
        <div>
          <label>
            {% if tuduu.completed %}
              <input id="input_{{ tuduu.id }}" type="checkbox" checked="checked" onchange="updateTuduu('{{ tuduu.id }}')"/>
              <span id="span_{{ tuduu.id }}" class="line-through">{{ tuduu.name }}</span>
            {% else %}
              <input id="input_{{ tuduu.id }}" type="checkbox" onchange="updateTuduu('{{ tuduu.id }}')"/>
              <span id="span_{{ tuduu.id }}">{{ tuduu.name }}</span>
            {% endif %}

          </label>
          <span class="secondary-content" style="cursor: pointer;" onclick="removeElementById('{{ tuduu.id }}')">
            <i class="material-icons">clear</i>
          </span>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% block javascripts %}
  <script src="{{ asset('js/httpClientHelper.js') }}"></script>
  <script>

    async function updateTuduu(tuduuId) {
      const data = new FormData();
      data.append('tuduuId', tuduuId);

      try {
        toggleLineThrough(tuduuId);
        const result = await asyncHttpPost(data, '/home/update');
        showToast(result.message);
      } catch (error) {
        alert(error);
      }
    }

    function toggleLineThrough(tuduuId) {
      const element = document.getElementById (`span_${tuduuId}`);
      if (element.classList.contains("line-through")) {
        element.classList.remove("line-through");
      } else {
        element.classList.add("line-through");
      }
    }

    async function removeElementById(tuduuId) {
      const data = new FormData();
      data.append('tuduuId', tuduuId);

      try {
        document.getElementById (`li_${tuduuId}`).remove();;
        if (isEmptyElementById('ul_tuduus')) {
          document.getElementById('ul_tuduus').remove();
        }
        const result = await asyncHttpPost(data, '/home/delete');
        showToast(result.message);
      } catch (error) {
        alert(error);
      }
    }

    function isEmptyElementById(elementId) {
      const element = document.getElementById(elementId);
      if (element === null) {
        return false;
      }
      return element.innerHTML.trim() === '';
    }
  </script>
{% endblock %}
