{% extends 'base.html.twig' %}
{% block title %}Change Password - {% endblock %}

{% block body %}
<div class="container">
  <h1 class="center-align">Tuduu</h1>
  <div class="row">
    <div class="col s12 m6 offset-m3 l6 offset-l3">
      <div class="card-panel hoverable">
        <h4 class="center-align">Change Password</h4>
        <div class="row">
          {{ form_start(form, {'method': 'POST', 'attr': {'novalidate': 'novalidate'}}) }}
            <div class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="input-email" type="text" value="{{userEmail}}" disabled  />
                  <label for="input-email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  {{ form_widget(form.password) }}
                  <label for="input-new-password">New Password</label>
                  <span class="red-text text-darken-2"><b>{{ form_errors(form.password) }}</b></span>
                </div>
              </div>

              {# Loading component #}
              <div id="loading-component" class="hide">
                {{ include('shared/_loading.html.twig') }}
              </div>
                
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="action"
                style="width: 100%;"
                onclick="showLoader()"
              >
                Change
              </button>
              <br />
              <br />
              <a
                href="{{path('users.login')}}"
                class="btn waves-effect waves-light blue-grey lighten-1"
                style="width: 100%;"
                >Cancel</a
              >
            </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
function showLoader(){
  const element = document.getElementById("loading-component");
  element.classList.remove("hide");
}
</script>
{% endblock %}