{% extends 'base.html.twig' %}
{% block title %}Login -
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="center-align">Tuduu</h1>
    <div class="row">
      <div class="col s12 m6 offset-m3 l6 offset-l3">
        <div class="card-panel hoverable">
          <h4 class="center-align">Login</h4>
          <div class="row">
            {{ form_start(form, {'method': 'POST', 'attr': {'novalidate': 'novalidate'}}) }}
            <div class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  {{ form_widget(form.email) }}
                  <label for="input-email">Email</label>
                  <span class="red-text text-darken-2">
                    <b>{{ form_errors(form.email) }}</b>
                  </span>
                </div>
                <div class="input-field col s12">
                  {{ form_widget(form.password) }}
                  <label for="input-password">Password</label>
                  <span class="red-text text-darken-2">
                    <b>{{ form_errors(form.password) }}</b>
                  </span>
                </div>
                <div class="input-field col s12">
                  <a href="{{path('users.forgot_password')}}">Forgot password?</a>
                  <p>Don't have an account?
                    <a href="{{path('users.register')}}">Register here</a>
                  </p>
                </div>
              </div>

              {# Loading component #}
              <div id="loading-component" class="hide">
                {{ include('shared/_loading.html.twig') }}
              </div>

              <button class="btn waves-effect waves-light" type="submit" name="action" style="width: 100%;" onclick="showLoader()">
                Login
              </button>
            </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  <script>
    function showLoader() {
      const element = document.getElementById("loading-component");
      element.classList.remove("hide");
    }
  </script>
{% endblock %}
